{% extends "base.html.twig" %}

{% block title %}Recipe Lovers - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur recipe lovers</h1>
            <p class="lead">Créé des recettes faciles à partir d'ingrédients, découvre, cuisine !</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>

        <!-- TODO add links to recipes -->

        <div class="recipes">
            <h2 class="mt-4">Les dernières recettes partagées</h2>
            <div class="d-flex justify-content-between">
                {% for recipe in recipes %}
                    <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                        <div class="card-header">{{ recipe.id }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ recipe.name }}</h4>
                            <p class="card-text">{{ recipe.description | slice(0, 100) ~'...' }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
