{% extends "base.html.twig" %}

{% block title %}
    Recipe lovers - Inscription
{% endblock %}

{# TODO : critères de validation du mdp et du mail côté utilisateur #}

{% block body %}
<div class="container m-6">
    <h1 class="mt-4">Formulaire d'inscription</h1>

    {{ form(form) }}
</div>
{% endblock %}